body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width:100%;
  max-width: 100vw;
}

.Home {
  padding: 2rem;
  background-color: var(--background);
}

.Home button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}

h1 {
  color: var(--text-color);
  font-size: 2.5rem;
  margin-top: 3rem;
  margin-bottom:2rem;
  text-align: center;
}

.sort-buttons {
  margin: 1rem 0;
}

.sort-buttons button.active {
  background-color: var(--accent); /* or any color you want */
  color: white;
  /* Optional: make it stand out */
  font-weight: bold;
  border: none;
}

.sort-buttons button {
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--secondary);
  color: var(--background);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sort-buttons button:hover {
  background-color: var(--accent);
  color: var(--text-color);
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.createBtn {
  padding: 0.6rem 1.2rem;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
}

.createBtn:hover {
  background-color: var(--accent);
  color: var(--text-color);
}