.Card {
   background-color: white;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 1.2rem auto; /* top/bottom and automatic left/right */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 70%;   /* limit max width */
  width: 100vw;      
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color); 
  margin: 0;
}

.author {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color); 
  margin: 0;
}

.Card small {
  color: var(--text-color);
  font-style: italic;
  margin-bottom: 1rem;
}

.likeButton {
  align-self: flex-end;
  background-color: var(--secondary);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.likeButton:hover {
  background-color: #BF2A52; /* darker pink */
}